@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", serif;
}

/*navbar*/

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 0px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: relative;
}

.menu {
    position: relative;
    top: 0;
    width: auto;
    height: auto;
    padding: 0rem;
    margin-left: auto;
    background: none;
    box-shadow: none;
}

.menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 37px;
    margin: 0 auto;
}
.menu-inner li {
    list-style-type: none;
}

.menu-inner a {
    text-decoration: unset;
    color: #838383;
    font-size: 13.92px;
    font-weight: 400;
}
.menu-icon {
    font-size: 28px;
    cursor: pointer;
    display: none;
    /* Hidden on large screens */
}

.menu-icon::before {
    content: "☰";
    /* Default menu icon */
}

.menu-toggle {
    display: none;
    /* Hide checkbox */
}

/* Change icon to 'X' (Close) when menu is open */
.menu-toggle:checked+.menu-icon::before {
    content: "✖";
    /* Close icon */
}

/* Show Menu When Toggled */
.menu-toggle:checked+.menu-icon+.menu {
    display: flex;
}

.brand {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: unset;
}

.brand img {
    width: 34px;
}

.brand p {
    margin-bottom: 0px;
    color: #1A1A1A;
    font-size: 16.2px;
    font-weight: 600;
}

section {
    height: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
}

section .first-half {
    flex: 1 0 60%;
    height: 100vh;
}

.first-half {
    background: url(../images/Line.png);
    background-repeat: round;
    padding: 0px 56px;
    position: relative;
}

.first-half h1 {
    color: #151515;
    font-weight: 700;
    font-size: 27px;
}

.first-half p {
    font-size: 16px;
}
/*  */
.mt-para {
    margin-top: 11px;
}

.mt-para2 {
    margin-top: 29px;
}

.img-h {
    background: #FF9257;
    border-radius: 50%;
    padding: 4px;
    width: 24px;
    height: 24px;
}

.img-p {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.num-para2 h2 {
    font-size: 28px;
}


/*circle image*/
.image-container {
    position: relative;
    display: flex;
    align-items: center;
}
.circle-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    position: relative;
    z-index: 1;
    margin-left: -30px;
}
.circle-img:first-child {
    margin-left: 0;
}
.btn-sec {
    display: flex;
    gap: 26.87px;
}

.btn-sec button {
    background: #2F584E;
    border-radius: 65.2px;
    padding: 16.5px 35.85px;
    font-size: 16.8px;
    font-weight: 600;
    color: #FFFFFF;
    border: unset;
    cursor: pointer;
}

.video-btn {
    display: flex;
    align-items: center;
    gap: 8.2px;
}

/*Last section of 1st half*/

.banner-last {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FF9257;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 23px 0;
    z-index: 1;
}

.banner-last div {
    text-align: center;
}

.banner-last h3 {
    margin: 0;
    font-size: 26px;
    color: #FFFFFF;
    padding-left: 22px;
}

.banner-last p {
    font-weight: 400;
    margin: 5px 0 0;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 22px;
}

.banner-last div {
    text-align: left;
    border-left: 4px solid #F7BE2C;
}

/*Second half*/

.sec-half {
    background: url(../images/Mask\ group.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F1F6FE;
    width: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    padding: 20px;
    height: 100%;
}

.box {
    color: white;
    text-align: center;
    border-radius: 8px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-k {
    display: flex;
    gap: 42px;
}


/* Media queries */

@media(max-width:1000px) {
    section {
        height: 100%;
        height: 100vh;
        display: grid;
        align-items: stretch;
    }
}

@media(max-width:768px) {
    .sec-half {
        width: unset;
    }

    .menu-inner {
        display: grid;
        flex-direction: column;
        column-gap: 37px;
        margin: 0 auto;
        padding: 13px;
        width: 100%;
        gap: 17px;
    }

    .menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .menu-icon {
        display: block;
        /* Show toggle button */
    }
}